* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eceffc;
}

.head {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.head a {
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: antiquewhite;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.reg-form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}
.reg-form h1{
    font-size: 35px;
    margin-top: 10px;
}
.reg-form div{
    margin-top: 10px;
}
.reg-form div input{
    border: none;
    border-bottom: 2px solid #eceffc;
    color: azure;
    background-color: rgba(0, 0, 0, 0.8);
}
